#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$5lttF6JaYQKSvNbl$I.dV7fR0E8NUlYgwGgkhZHsv9NlTRFhyr4.LcdwUFyhJ4ZVJdi24zyUWuPD257l4cGntfAfs.jJZ88xsk2V81/
# System services
services --enabled="chronyd"
# System timezone
timezone Etc/UTC --isUtc
user --groups=wheel --name=vagrant --password=$6$uAaQURYUqYjL.Eu8$.nFHlUxdIqqKgFhPa1HEXLY9l/hrJpIbaOqb6H47XsBXf0R//FY93yVqkymcA7.nU2jc9TpZem5oNXw25gMtK0 --iscrypted --gecos="vagrant"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core
chrony

%end

reboot --eject